<div class="container">
  <h1>MVC con Angular</h1>
  <div>
    <label>Alumnos</label>
    <div class="content">
      <div class="card" *ngFor="let alumno of alumnos">
        <div>
          <label>{{alumno.nombre}}</label>
        </div>
        <div class="row">
          <div class="cell-title">
            <p>Profesor</p>
          </div>
          <div class="cell-title">
            <p>Nota</p>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <div class="column" *ngFor="let profesor of alumno.idProfesor">
              <div class="curso">
                {{getProfesor(profesor)}}
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="column" *ngFor="let nota of alumno.idNota">
              <div class="nota">
                {{getNota(nota)}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <label>Profesores</label>
    <div class="content">
      <div class="card" *ngFor="let profesor of profesores">
        <div>
          <label>{{profesor.nombre}}</label>
        </div>
        <div class="row">
          <div class="cell-title">
            <p>Especialiades</p>
          </div>
          <div class="cell-title">
            <p>Alumnos</p>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <div class="column" *ngFor="let especialidad of profesor.especialidades">
              <div class="curso">
                {{especialidad}}
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="column" *ngFor="let estudiante of profesor.estudiantes">
              <div class="nota">
                {{getAlumno(estudiante)}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <label>Notas</label>
    <div class="content">
      <div class="card" *ngFor="let nota of notas">
        <div>
          <label>Nota</label>
        </div>
        <div class="row">
          <div class="cell-title">
            <p>id</p>
          </div>
          <div class="cell-title">
            <p>nota</p>
          </div>
        </div>
        <div class="row">
          <div class="cell">
              <div class="curso">
                {{nota.id}}
            </div>
          </div>
          <div class="cell">
              <div class="nota">
                {{nota.nota}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>